<!DOCTYPE html>
<meta charset="utf-8">
<html lang="en">
   <head>
    <meta charset="utf-8">
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../styles/layout.css">
    <%include ./partials/_header.ejs%>
  </head>
  <script type="text/javascript" src="../scripts/test.js"></script>
  <script>
    <% console.log("ALL",   latest, "ALL TASKS", allTasks); %>
  </script>


  <body>
    <main>
      <script type="text/javascript">window.latestEatId = '<%= latest.e[0].id%>'</script>
      <script type="text/javascript">window.latestBuyId = '<%= latest.b[0].id%>'</script>
      <script type="text/javascript">window.latestWatchId = '<%= latest.w[0].id%>'</script>
      <script type="text/javascript">window.latestReadId = '<%= latest.r[0].id%>'</script>
      <section class="eat-watch-section">
        <div><span class="eatTask">Eat</span><br><%= latest.e[0].id %></div>
        <div style="margin-left:97px";><span class="watchTask">Watch</span><br><%= latest.w[0].id%></div>
      </section>

      <section class="input-section">
        <form method="POST" action="/new_task">
          <input name="task" class="text-for-task" type="text"  placeholder="Enter task here!!" />
          <button>SUBMIT</button>
        </form>
      </section>

      <section class="read-buy-section">
         <div><span>Read</span><br><%= latest.r[0].id %></div>
        <div style="margin-left:97px;"><span>Buy</span><br><%= latest.b[0].id%></div>
      </section>
    </main>
  </body>
</html>
