<!DOCTYPE html>
<meta charset="utf-8">
<html lang="en">
  <head>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="styles/layout.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="/scripts/effects.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script src="https://use.fontawesome.com/d05239cf76.js"></script>
    <%include ./partials/_header.ejs%>
    <script>
      $(document).ready(function(){
        $('.newtask').hide();
        $('.btn-newtask').on("click", function() {
          $('.newtask').slideToggle('slow');
        });
        $('.removetask').hide();
        $('.btn-delete').on("click", function() {
          $('.removetask').slideToggle('slow');
        });
        $('.category').hide();
        $('.btn-category').on("click", function() {
          $('.category').slideToggle('slow');
        });
      });
  </script>
  </head>

  <body style="padding-top: 70px; font-family: Futura;">
    <main style="text-align: -webkit-center;" class="container-fluid">

      <section class="row eat-watch-section">

       <div class="col-md-4 ui-widget-content eat">
          <% if(allTasks.e[0] === undefined) { %>
        <br>
        <%} else { %>
          <% for(var i = 0; i < Object.keys(latest.e).length; i++) { %>
          <br><span id="origin">Task: <%= latest.e[i].content%> Id: <%= latest.e[i].id %></span>
          <% } %>
        <% } %>
        <% if(latest.e[0] === undefined) { %>
        <br>Eat
        <% } else { %>
        <br><!-- <span>Your Latest Task is : <%= latest.e[0].content %>
        <br> Your Latest Id is : <%=latest.e[0].id %></span> -->
        <% } %>
        </div>

        <div class="col-md-4 col-md-offset-4 watch">
        <% if(allTasks.w[0] === undefined) { %>
        <br>
        <%} else { %>
          <% for(var i = 0; i < Object.keys(latest.w).length; i++) { %>
          <br><span>Task: <%= latest.w[i].content%> Id: <%= latest.w[i].id %></span>
          <% } %>
        <% } %>
        <% if(latest.w[0] === undefined) { %>
        <br>Watch
        <% } else { %>
        <br><!-- <span>Latest Task <%= latest.w[0].content %></span> -->
        <% } %>
          </div>
      </section>

      <div class="buttons">
        <button type="button" class="btn btn-primary btn-lg btn-newtask">Add</button>
        <button type="button" class="btn btn-primary btn-lg btn-delete">Delete</button>
        <button type="button" class="btn btn-primary btn-lg btn-category">Category</button>
     </div>


      <div class="home-form container-fluid newtask"">
        <form method="POST" action="/new_task">

          <div class="form-group">
            <label for="task" class="col-sm-2 control-label">New Task</label>
            <input name="task" class="form-control text-for-task" type="text"  placeholder="New Task"/>
          </div>

            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                 <button type="submit" class="btn btn-default">Send</button>
              </div>
            </div>

        </form>
      </div>

        <div class="home-form container-fluid removetask">

            <form method="POST" action="/removeTask">

              <div class="form-group">
                <label for="task" class="col-sm-2 control-label">Delete Task</label>
                <input name="taskID" class="form-control ID-for-task" type="text"  placeholder="Enter task ID to delete" />
              </div>

              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <button type="submit" class="btn btn-default">Delete</button>
                </div>
              </div>

            </form>
           </div>
        </div>


        <div class="home-form container-fluid category">

            <form method="POST" action="/reclassifyTask">

              <div class="form-group">
                <label for="taskID" class="col-sm-2 control-label">Task ID</label>
                <input id="taskID" name="taskID" class="form-control ID-for-task" type="text"  placeholder="Enter task ID to reclassify"/>
              </div>

              <div class="form-group">
                <label for="taskID" class="col-sm-2 control-label">New Category</label>
                <input id="taskNewClass" name="taskNewClass" class="form-control newClass-for-task" type="text"  placeholder="Enter new task class"/>
              </div>

                <div class="form-group">
                  <div class="col-sm-offset-2 col-sm-10">
                   <button type="submit" class="btn btn-default">Submit</button>
                  </div>
                </div>

            </form>
          </div>
        </div>
      </div>
      <section class="row read-buy-section">
        <div id="drop" class="col-md-4 ui-widget-content read">

        <% if(allTasks.r[0] === undefined) { %>
        <br>
        <%} else { %>
          <% for(var i = 0; i < Object.keys(latest.r).length; i++) { %>
          <br><span>Task: <%= latest.r[i].content%> Id: <%= latest.r[i].id %></span>
          <% } %>
        <% } %>
        <% if(latest.r[0] === undefined) { %>
        <br>Read
        <% } else { %>
        <br><!-- <span>Latest Task <%= latest.r[0].content %></span> -->
        <% } %>
        </div>

        <div id="drop" class="col-md-4 col-md-offset-4 buy">
          <% if(allTasks.b[0] === undefined) { %>
        <br>
        <%} else { %>
        <% for(var i = 0; i < Object.keys(latest.b).length; i++) { %>
        <br><span>Task: <%= latest.b[i].content%> Id: <%= latest.b[i].id %></span>
        <% } %>
        <% } %>
        <% if(latest.b[0] === undefined) { %>
        <br>Buy
        <% } else { %>
        <br><!-- <span>Latest Task <%= latest.b[0].content %> --></span>
        <% } %>
        </div>
      </section>
    </main>
    <%include ./partials/footer.ejs%>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous">
    </script>
    <script>
      $("#origin").sortable({connectWith: "#drop"});
      $("#drop").sortable({connectWith: "#origin"});
    </script>
  </body>
</html>