<!DOCTYPE html>
<html lang="en">
   <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../styles/layout.css">
    <%include ./partials/_header.ejs%>
  </head>

  <script>
    <% console.log(latest, allTasks); %>
  </script>


  <body>
    <main>
      <section class="eat-watch-section">
        <div><span>Eat</span><br><%= latest.e %></div>
        <br><%= allTasks.e %>
        <div style="margin-left:97px";><span>Watch</span><br><%= latest.w%></div>
      </section>

      <section class="input-section">
        <form method="POST" action="/new_task">
          <input name="task" class="text-for-task" type="text"  placeholder="Enter task here!!" />
          <button>SUBMIT</button>
        </form>
      </section>

      <section class="read-buy-section">
         <div><span>Read</span><br><%= latest.r %></div>
        <div style="margin-left:97px;"><span>Buy</span><br><%= latest.b%></div>
      </section>
    </main>
  </body>
</html>
